<div class="page recomendations-pregnancy">
  <div class="container">
    <div class="spinner-wrapper">
      <mat-spinner *ngIf="!data"></mat-spinner>
    </div>
    <div *ngIf="data">
      <div class="recomendations-title">
        <h2>List recommendations</h2>
        <span class="recomendations-title_img" (click)="createRecomendation()"
          ><img
            src="../../../../../assets/icons8-add-new-50.png"
            alt="icon plus"
        /></span>
      </div>
      <div class="box recomendations-box">
        <mat-card class="box-card" *ngFor="let item of data">
          <mat-card-title>recommendation:</mat-card-title>
          <mat-card-content>
            <p>{{ item.description }}</p>
            <mat-card-subtitle>source: {{ item.source }}</mat-card-subtitle>
          </mat-card-content>
          <p class="mat-card-footer">week {{ item.week }}</p>
        </mat-card>
      </div>
    </div>
  </div>
</div>
