
.demo-page__logo {
  display: flex;
  justify-content: center;

&-img { 
  height: 150px;
  width: 150px;
  box-shadow: 10px 5px 5px #c3a9ce;
}
}

.mat-typography h2 { 
  margin: 0 !important;
}

.title-link {
  padding: 5px 4px;
  box-shadow: 10px 5px 5px #956fa5;
  opacity: 0.8;
}

.title-link:hover {
  opacity: 1;
}

.demo-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #552896;

}

.demo-list__p {
  font-size: 15px;
}

.demo-lost__settings {
  display: flex;
  align-items: center;
  flex-direction: column;
}