<div class="page demo-page">
  <div class="container">
    <div class="text-box">
      <h2>
        Glad to see you! <br />
        It's a demo version of the project 'FemTech Reminder'
      </h2>
      <div class="demo-page__logo">
        <img
          class="demo-page__logo-img"
          src="../../../assets/lady.png"
          alt="logo"
        />
      </div>
      <h3>
        You have opportunity to registre in the telegram-bot, <br />
        create some new recommendations <br />
        and to look notifications for yourself and other users
      </h3>
      <div class="box-card">
        <ul class="demo-list">
          <li>
            <a href="https://t.me/bg_fhir_bot" target="_blank">
              <h3 class="title-link">Telegram Bot</h3>
            </a>
            <div class="demo-lost__settings">
              <p class="demo-list__p">- User from FHIR for test:</p>
              <p class="demo-list__p">female User User 2000-01-01</p>
              <p class="demo-list__p">- female, pregnant</p>
              <p class="demo-list__p">Charise827 Balistreri607 2001-11-07</p>
            </div>
          </li>
          <li><h3>Click 'Info' to get more info about this app</h3></li>
          <li>
            <h3>
              <a
                class="title-link"
                href="https://github.com/banksiaglobal/femtech-reminder"
                target="_blank"
                >Documentation
              </a>
            </h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
