<div class="page info-page">
  <div class="container">
    <div class="text-box">
      <div class="box-card">
        <h2>Some information for you</h2>
        <p class="subtitle-box-card">
          This app is one of the client parts of FHIR ChatBot (Web GUI)
        </p>
        <p class="subtitle-box-card">You have opportunity:</p>
        <ul>
          <li *ngFor="let message of listFeatures">
            <mat-icon matListIcon>check</mat-icon>
            <p matLine>
              <span> {{ message.title }} </span>
              <br />
              <span class="demo-2"> => {{ message.content }} </span>
            </p>
          </li>
        </ul>
        <button mat-button class="mat-button-base" (click)="goToDemo()">
          DEMO
        </button>
      </div>
    </div>
  </div>
</div>
