/* You can add global styles to this file, and also import other style files */
@import "./scss/null.scss";
@import "./scss/variables.scss";
@import url('./scss/fonts.scss');

html, body { height: 100%; }
body { 
  margin: 0; 
  background-color: rgb(246 226 245);
}

.container {
  max-width: 1200px;
  padding: 10px;
  height: 100%;
  margin: 0 auto;
}

.page {  
  width: 100%;
  min-height: 87vh;  
  background: rgb(246 226 245) url('./assets/6.jpg') 0 0/100% 100% no-repeat;;
  background-size: cover;
  background-attachment: fixed; 
  backdrop-filter: blur(2px); 

}
//table settings

.mat-typography h2 {
  margin: 20px 0;
  color:  #533960;
  text-align: center;
  font-weight: bold;
  font-family: 'Courgette', cursive;
  font-size: 25px;
}

.mat-column-demo-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-demo-weight {
  font-style: italic;
}

.mat-column-demo-symbol {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
 

  .mat-card {
    display: flex;  
    flex-direction: column;    
    gap: 10px;
    width: 200px;
    min-height: 200px;     
    border-radius: 0; 
    background-color: rgb(220 207 226 / 21%); 
    backdrop-filter: blur(6px);
    color: #533960;
  }
}
  .mat-card-title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 17px;
    font-family: 'Courgette', cursive;    
  }

  .mat-card-content {
    flex: 0 0 auto;    
    font-size: 15px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .mat-slide-toggle{
    flex: 1 0 auto;
    text-align: justify;  
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #7c568f;
  }
  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #d0bfd9;
  }

  .mat-button-base {
    background-color: #ac539c24;
  }

  .mat-progress-spinner circle, .mat-spinner circle {
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: rgb(225 123 137);
}

.spinner-wrapper {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

.mat-list {
  word-wrap: break-word;
}
