/* You can add global styles to this file, and also import other style files */
@import "./scss/null.scss";
@import "./scss/variables.scss";

html, body { height: 100%; }
body { 
  margin: 0; 
  background-color: #e8dfec;
}
//table settings
.demo-table {
  width: 100%;
}
.h2 {
  margin: 0 0 0 0;
  color:  #533960;
  text-align: center;
}
.mat-column-demo-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-demo-weight {
  font-style: italic;
}

.mat-column-demo-symbol {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

.main-table { 
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.page {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 86vh;
  padding: 20px;

}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  height: 100%;
 
  .mat-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;    
    gap: 10px;
    max-width: 200px;
    min-height: 200px;      
    background-color: #dccfe2;
    border-radius: 10px;
    color: #533960;
  }
}

  .mat-card-title {
    text-align: center;
    font-size: 20px;
    
  }

  .mat-card-content {
    flex: 0 0 auto;
    height: 100%;
    font-size: 15px;
    text-align: justify;

  }

  .mat-slide-toggle{
    flex: 1 0 auto;
    text-align: justify;  
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #7c568f;
  }
  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #d0bfd9;
  }

 


