<div class="page recomendations-page">
  <div class="recomendations-title">
    <h2>List recomendations</h2>
    <span class="recomendations-title_img" (click)="createRecomendation()"
      ><img src="../../../../assets/icons8-add-new-50.png" alt="icon plus"
    /></span>
  </div>
  <div class="box recomendations-box">
    <mat-card class="box-card" *ngFor="let item of data">
      <mat-card-title>Recomendation:</mat-card-title>
      <mat-card-subtitle>Source:{{ item.source }}</mat-card-subtitle>
      <mat-card-content>
        <p>{{ item.description }}</p>
        <p>
          age:
          <br />
          <span>from: {{ item.ageFrom }} </span>
          <span>to: {{ item.ageUpTo }}</span>
        </p>
        <p>period: {{ item.period }}</p>
      </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
  </div>
</div>
