<div class="page">
  <div class="container">
    <div class="spinner-wrapper">
      <mat-spinner *ngIf="!data"></mat-spinner>
    </div>
    <div class="users-subtitle" *ngIf="isEmptyData">
      Ooops... <br />No registered users <br />
      Sorry
    </div>
    <div class="users-table-box" *ngIf="!isEmptyData">
      <h2>List users</h2>
      <h4>*click for name and you will get the notifications for this user</h4>
      <table mat-table [dataSource]="dataSource" class="users-table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td
            class="user-name-box"
            mat-cell
            *matCellDef="let element"
            title="more info"
            (click)="chooseUser($event)"
          >
            {{ element.name | textTransform: "anonymous" }}
          </td>
          <th *cdkNoDataRow>No data</th>
        </ng-container>
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.lastName | textTransform: "user" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="telegramID">
          <th mat-header-cell *matHeaderCellDef>TelegramID</th>
          <td mat-cell *matCellDef="let element">
            {{ element.telegramID | numberTransformHide: "********" }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
        aria-label="Select page of users"
      >
      </mat-paginator>
    </div>
  </div>
</div>
