.mat-column-demo-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-demo-weight {
  font-style: italic;
}

.mat-column-demo-symbol {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

.users-table-box {  
  display: flex;
  justify-content: center; 
  flex-direction: column;
  padding: 0 10px;
  color: #533960;  
  
}

.users-table,
.mat-paginator {    
  background-color: rgb(220 207 226 / 38%); 
  border-radius: 10px;
  backdrop-filter: blur(6px);
  color: #533960;    
  font-family: 'Courgette', cursive;
}


.user-name-box {
  cursor: grab; 
}

.users-subtitle {
  margin-top: 30px;
  line-height: 20px;
  text-align: center;
  font-family: "Courgette", cursive;
  color: #533960;
  text-decoration: underline;
}


@media (max-width: 640px) {
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 10px;
  }
  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 10px;
  }
}

@media (max-width: 360px) {
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 3px;
  }
  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 3px;
  }
}






