.notifications-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 27px;

  &_img {
  cursor: grab;

  }
}
.notifications-page {
  .mat-typography h3 {
    margin: 20% 0 30%;
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 30px;
    font-family: "Courgette", cursive !important;
  }
}





