.notifications-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 27px;

  &_img {
  cursor: grab;
  }
}

  .message-title {   
    margin-top: 10%;    
  }

.notifications-box-card {
  display: flex;
  justify-content: center;
   flex-wrap: wrap;
}

.title-username,
.message-title {
  text-decoration: underline;
  text-align: center;
  font-size: 30px;
  font-family: "Courgette", cursive;
  color:#533960;
}

.user-info {
  margin-bottom: 30px;
  font-family: "Courgette", cursive;
  color: #533960; 
}





