<div class="page notifications-page">
  <div class="box notifications-box" *ngIf="data.length > 0">
    <mat-card class="box-card" *ngFor="let item of data">
      <div class="box-card_content">
        <mat-card-title class="box-card_title">
          {{ item.title }}
        </mat-card-title>
        <mat-card-content class="box-card_description">
          {{ item.description }}
        </mat-card-content>
      </div>
      <mat-slide-toggle
        [checked]="item.state"
        (change)="changeState.emit(item.id)"
      ></mat-slide-toggle>
    </mat-card>
  </div>
</div>
