<div class="page notifications-page">
  <div class="container">
    <div class="spinner-wrapper">
      <mat-spinner *ngIf="!data"></mat-spinner>
    </div>
    <div class="box notifications-box">
      <h3 class="message-title" *ngIf="isEmptyData">
        This patient has'n got notifications
      </h3>
      <div *ngIf="!isEmptyData">
        <div class="notifications-title">
          <h2>List notifications for:</h2>
          <p class="notifications-subtitle">{{ userName }}</p>
          <!-- <div class="notifications-title_img" (click)="createNotifications()">
            <img
              src="../../../../assets/icons8-add-new-50.png"
              alt="icon plus"
            />
          </div> -->
        </div>
        <div *ngIf="!isEmptyData" class="box notifications-box-card">
          <mat-card class="box-card" *ngFor="let item of data">
            <mat-card-title>notification</mat-card-title>
            <mat-card-content>
              <p>{{ item.recommendation }}</p>
              <p>
                notify time:
                <br />
                <span>{{ item.notifyTime | date: "medium" }} </span>
                <br />
              </p>
            </mat-card-content>
            <mat-card-actions>
              <mat-slide-toggle
                [checked]=""
                (change)="changeState.emit(item.id)"
              ></mat-slide-toggle>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
