@import url('../../../scss/fonts.scss');
.header {
  height: 8vh;
  width: 100%;
  padding: 8px;
  background-color: #ad8fbcb0; 
}

.header-menu {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 100%;
  gap: 40px;
  margin-right: 5%;

  &-left,
  &-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px
}

&-right div:last-child {
  margin-left: 40px;
}
}

@import url('../../../scss/fonts.scss');
.header-logo {
  &_img {
    display: flex;    
    height: 30px;
    width: 30px;
    margin-right: 20px;
  }
}

.link-page {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Courgette', cursive;
}

.link-page:active {
  color: rgb(111, 53, 99);
}


