<header class="header">
  <div class="container">
    <div class="header-menu">
      <!-- <img
        class="header-logo_img"
        src="../../../assets/alarm-clock.png"
        alt="logo alarm"
      /> -->
      <div class="header-button">
        <a class="link-page" href="" routerLink="/overview"> Overview </a>
      </div>
      <div class="header-button">
        <a class="link-page" href="" routerLink="/notifications-control">
          Notifications
        </a>
      </div>
      <div class="header-button">
        <a class="link-page" href="" routerLink="/recommendations">
          Recommendations
        </a>
      </div>
    </div>
  </div>
</header>
