@import url('../../../scss/fonts.scss');
.header {
  height: 8vh;
  width: 100%;
  padding: 8px;
  background-color: #ad8fbcb0; 
}

.header-menu {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 100%;
  gap: 40px;
  margin-right: 5%;

  &-left,
  &-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px
}

&-right div:last-child {
  margin-left: 40px;
}

&-bar-item {  
  line-height: 26px;
  padding: 10px 16px;
  min-width: 34px;
  user-select: none;
  background-color: rgb(220 207 226 / 21%); 
  color: rgb(246, 243, 238);
  cursor: pointer;
  border: none;
  font-size: 20px;
}
}

.header-submenu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: rgb(186 156 202); 
 
  &-item {
    padding: 5px 0;
    background-color: rgb(220 207 226 / 21%); 
    color: rgb(246, 243, 238);
  }

  &-item:hover {
    background-color: rgb(220 207 226 / 21%); 
  }
  
  &-item:active {
    background-color: rgba(41, 25, 49, 0.21); 
  }
}

.header-logo {
  &_img {
    display: flex;    
    height: 30px;
    width: 30px;
    margin-right: 20px;
  }
}

@media (max-width: 640px) {
   .header-menu {
    justify-content: center;
    gap: 0;
  
    &-left,
    &-right {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px
  }

    &-right div:last-child {
    margin-left: 0px;
       
}

&-bar-item {
  font-size: 15px;
  min-width: 30px;
  padding: 5px 10px;
}
}
}


